{% extends 'layout.html' %}
{% block content %}

<section class="section">
	<h2 class="section__title">Welcome to our Virtual Store</h2>
	<p class="section__text">Place where you can find <strong>everything</strong> related with the gamer and geek world</p>
</section>
<section class="container">
	<div class="container__box zero">
		<i class="fa-solid fa-computer"></i>
		<h3>Computers</h3>
	</div>
	<div class="container__box one">
		<i class="fa-solid fa-laptop"></i>
		<h3>Laptops</h3>
	</div>
	<div class="container__box two">
		<i class="fa-solid fa-memory"></i>
		<h3>Components</h3>
	</div>
	<div class="container__box three">
		<i class="fa-solid fa-desktop"></i>
		<h3>Monitors</h3>
	</div>
	<div class="container__box four">
		<i class="fa-solid fa-headset"></i>
		<h3>Peripherals</h3>
		<i class="fa-solid fa-keyboard"></i>
	</div>
	<div class="container__box five">
		<i class="fa-solid fa-couch"></i>
		<h3>Game Room</h3>
	</div>
	<div class="container__box six">
		<i class="fa-solid fa-mobile-screen"></i>
		<h3>Phones</h3>
	</div>
	<div class="container__box seven">
		<i class="fa-brands fa-playstation"></i>
		<h3>Consoles</h3>
	</div>
	<div class="container__box eight">
		<i class="fa-brands fa-playstation"></i>
		<h3>TVs</h3>
	</div>
</section>
<section class="section-2">
		<h2 class="section__title-2">Discover the most relevant trends in the world of technology</h2>
		<article class="section__article">
			<p class="article__text">Nvidia executives take advantage of the rally and sell $180 million in shares</p>
			<img src="https://www.bloomberglinea.com/resizer/1BOSfLQ6Vx1zi6iDJKzvas6WDT8=/800x0/filters:format(webp):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/bloomberglinea/FGRCDDSJFZDVRJNM7Y6JTPBXPE.jpeg" alt="nvidiaimg" class="article__img">
		</article>
		<article class="section__article">
			<p class="article__text">NVIDIA does not stop rising on the stock market. The question is whether we are facing the biggest bubble of the century</p>
			<img src="https://i.blogs.es/03fa13/jen1/840_560.jpeg" alt="nvidiaimg" class="article__img">
		</article>
		<article class="section__article">
			<p class="article__text">Nvidia's unprecedented rise against Apple</p>
			<img src="https://s.yimg.com/ny/api/res/1.2/5EWvu_uDyqS6kLJ1jhiKLA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTUyNg--/https://media.zenfs.com/es/benzinga_espana_844/321b8c0b77dca3ef31d719b0b5d09d12" alt="nvidiaimg" class="article__img">
		</article>
</section>
<section class="section-3">
	<h2 class="section__title-3">Interact and share your opinion with thousands of users around the world</h2>
	<div class="section__users">
		<div class="user__profile">
			<img src="https://i.pinimg.com/originals/b9/2e/29/b92e29378de6628eca1be260d40b4f6f.jpg" alt="userimage" class="userimage">
			<h3 class="username">Username1</h3>
		</div>
		<div class="user__profile">
			<img src="https://i.pinimg.com/736x/3e/94/c1/3e94c17ca6aaf4df2eb50d2c20d871f4.jpg" alt="userimage" class="userimage">
			<h3 class="username">Username2</h3>
		</div>
		<div class="user__profile">
			<img src="https://i.pinimg.com/736x/c5/46/ba/c546ba56eae477cf522378f37a6c96b7.jpg" alt="userimage" class="userimage">
			<h3 class="username">Username3</h3>
		</div>
	</div>
</section>

{% endblock %}