{% extends 'layout.html' %}
{% block content %}
<div class="searcher">
	<label class="searcher__bar">
		<input list="filter" placeholder="Search..." required>
		<button class="searcher__button">
			<i class="fa-solid fa-magnifying-glass button__icon"></i>
		</button>
	</label>
	<datalist id="filter">
		<option value="Computers"></option>
		<option value="Laptops"></option>
		<option value="Components"></option>
		<option value="Monitors"></option>
		<option value="Peripherals"></option>
		<option value="Phones"></option>
		<option value="Consoles"></option>
		<option value="TVs"></option>
	</datalist>
</div>

<div class="products-container">
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C204233B-9A3B-4FFD-B4E6-2019B96E511F/w717/h525/w273" alt="product">
		<h3>ROG StrixG16CHR  $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/555749AB-96CC-427C-A638-0F09E0A999DE/w717/h525/w273" alt="product">
		<h3>ROG Strix XG259QNS-W $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C3A1460C-EA4E-47C9-BC44-07FF2CE1FC00/w717/h525/w273" alt="product">
		<h3>ROG Zephyrus G16 $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C204233B-9A3B-4FFD-B4E6-2019B96E511F/w717/h525/w273" alt="product">
		<h3>ROG StrixG16CHR  $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/555749AB-96CC-427C-A638-0F09E0A999DE/w717/h525/w273" alt="product">
		<h3>ROG Strix XG259QNS-W $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C3A1460C-EA4E-47C9-BC44-07FF2CE1FC00/w717/h525/w273" alt="product">
		<h3>ROG Zephyrus G16 $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C204233B-9A3B-4FFD-B4E6-2019B96E511F/w717/h525/w273" alt="product">
		<h3>ROG StrixG16CHR  $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/555749AB-96CC-427C-A638-0F09E0A999DE/w717/h525/w273" alt="product">
		<h3>ROG Strix XG259QNS-W $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C3A1460C-EA4E-47C9-BC44-07FF2CE1FC00/w717/h525/w273" alt="product">
		<h3>ROG Zephyrus G16 $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C204233B-9A3B-4FFD-B4E6-2019B96E511F/w717/h525/w273" alt="product">
		<h3>ROG StrixG16CHR  $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/555749AB-96CC-427C-A638-0F09E0A999DE/w717/h525/w273" alt="product">
		<h3>ROG Strix XG259QNS-W $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C3A1460C-EA4E-47C9-BC44-07FF2CE1FC00/w717/h525/w273" alt="product">
		<h3>ROG Zephyrus G16 $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C204233B-9A3B-4FFD-B4E6-2019B96E511F/w717/h525/w273" alt="product">
		<h3>ROG StrixG16CHR  $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/555749AB-96CC-427C-A638-0F09E0A999DE/w717/h525/w273" alt="product">
		<h3>ROG Strix XG259QNS-W $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C3A1460C-EA4E-47C9-BC44-07FF2CE1FC00/w717/h525/w273" alt="product">
		<h3>ROG Zephyrus G16 $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C204233B-9A3B-4FFD-B4E6-2019B96E511F/w717/h525/w273" alt="product">
		<h3>ROG StrixG16CHR  $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/555749AB-96CC-427C-A638-0F09E0A999DE/w717/h525/w273" alt="product">
		<h3>ROG Strix XG259QNS-W $99.9</h3>
	</div>
	<div class="container__item">
		<img src="https://dlcdnwebimgs.asus.com/gain/C3A1460C-EA4E-47C9-BC44-07FF2CE1FC00/w717/h525/w273" alt="product">
		<h3>ROG Zephyrus G16 $99.9</h3>
	</div>
</div>

{% endblock %}